  <!-- Dashboard Sidebar -->
  <section id="dashboardSidebar">
    <div style="text-align: right; padding: 20px;">
        <button id="closeSidebarButton">
            <i class="fa-solid fa-arrow-left"></i>
        </button>
    </div>
    <nav class="sidebarNav flexColumn spaceBetween" style="height: 90%;">
        <div>
         <a href="/"><img src="/img/logo.png" alt=""></a> 
        </div>
        <div class="sidebarList">
            <ul class="flexColumn">
                <li><a href="/dashboard"  <%if(url==='/dashboard'){%> class="active" <%}%> ><i class="fa-brands fa-buromobelexperte"></i>Dashboard</a></li>
                <li><a href="/addFoodTruck" <%if(url==='/addFoodTruck'){%> class="active" <%}%> ><i class="fa-solid fa-plus flexRow alignItemCenter"></i> Add Food Truck</a></li>
                <li><a href="/myTrucks"  <%if(url==='/myTrucks'){%> class="active" <%}%>><i class="fa-solid fa-eye"></i> My Food Trucks</a></li>
                <%if(user.userType==='admin'){%>
                    <li><a href="/getAllTrucks"  <%if(url==='/allTrucks'){%> class="active" <%}%>><i class="fa-solid fa-user"></i> All Trucks</a></li>
                    <%}%>
                <!-- <li><a href="/Favorites"><i class="fa-solid fa-heart"></i> Favorites </a></li> -->
                <!-- <li><a href="/myFeedbacks"  <%if(url==='/myFeedbacks'){%> class="active" <%}%>><i class="fa-solid fa-comment-dots"></i> My Feedbacks </a></li> -->
            </ul>
        </div>

        
        <!-- Log Out Form -->
        <form action="/logout" method="post">
            <button id="logoutBtn">Log Out  <i class="fa-solid fa-right-from-bracket"></i></button>
        </form>

    </nav>
</section>