<!DOCTYPE html>
<html>
    <title>Search - Taste on Wheels</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../Public/CSS/main.css" />
		<noscript><link rel="stylesheet" href="../Public/CSS/noscript.css" /></noscript>
    <style>
      .topnav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #3b3f58;
        height: 10vh;
        padding: 1em 2em;
        border-radius: 12px;
        margin: 1em;
        color: white;

      }

      .topnav .nav-links {
        display: flex;
        gap: 1.5em;
      }

      .topnav .nav-links a {
        color: #ffffff;
        text-decoration: none;
        font-weight: 600;
        font-size: 1rem;
        padding: 0.4em 0.6em;
        border-radius: 8px;

      }

      .topnav .nav-links a:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }

      .search-bar {
        top:0.5vh;
        position: relative;
        width: 50%;
        
      }

      .search-bar input{
        width: 100%;
        padding: 0.6em 0.6em 0.6em 2.2em;
        border-radius: 30px;
        border: none;
        outline: none;
        background-color: #f2f2f2;
        color: black;
        font-size: larger;
      }


      .filters {
        background: #f7f7f7;
        padding: 1em;
        border-radius: 8px;
        margin-bottom: 2em;
      }

      .search-results {
        background: #fff;
        padding: 1em;
        border-radius: 8px;
        border: 1px solid #ccc;
        min-height: 200px;
      }

    </style>
  <body class="is-preload">
    <div id="page-wrapper">
    <head>
      <!-- Modern NavBar -->
      
  </head>

      <!-- Main -->
      <section id="wrapper">
        <header>
          <div class="inner">
            <h2>Search</h2>
          </div>
        </header>

        <div class="wrapper">
          <div class="inner">
            <div class="row gtr-150">
              <!-- Filters Sidebar -->
              <div class="col-4 col-12-medium">
                <section class="filters">
                  <h3 class="major">Categories</h3>
                  <ul>
                    <li><label><input type="checkbox" /> Street Food</label></li>
                    <li><label><input type="checkbox" /> Desserts</label></li>
                    <li><label><input type="checkbox" /> Vegan</label></li>
                    <li><label><input type="checkbox" /> BBQ</label></li>
                  </ul>
                  <h3 class="major">Availability</h3>
                  <ul>
                    <li><label><input type="checkbox" /> Open Now</label></li>
                    <li><label><input type="checkbox" /> Offers BOGO</label></li>
                  </ul>
                </section>
              </div>

              <!-- Search Results -->
              <div class="col-8 col-12-medium">
                <section class="search-results">
                  <% if (results && results.length > 0) { %>
                    <ul>
                      <% results.forEach(result => { %>
                        <li>
                          <h4><%= result.name %></h4>
                          <p><%= result.description %></p>
                        </li>
                      <% }) %>
                    </ul>
                  <% } else { %>
                    <p>No matches were found for your search.</p>
                  <% } %>
                </section>
              </div>
            </div>
          </div>
        </div>
      </section>

    </div>

    <!-- Scripts -->
		<script src="../Public/JS/jquery.min.js"></script>
		<script src="../Public/JS/jquery.scrollex.min.js"></script>
		<script src="../Public/JS/browser.min.js"></script>
		<script src="../Public/JS/breakpoints.min.js"></script>
		<script src="../Public/JS/util.js"></script>
		<script src="../Public/JS/main.js"></script>
  </body>
</html>
