body{
    -moz-transition: background-color 0.2s ease-in-out;
	-webkit-transition: background-color 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out;
	background-color: rgba(53, 56, 73, 0.95);
}
#dashboardNav {
    display: flex;
    justify-content: space-between;
    padding: 11px 35px;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1;
    padding-left: 330px;
    transition: padding-left 0.3s linear;
    height: 75px;
    
    /* Only transition the padding-left property */
}

#dashboardNav img {
    width: 80px;
}

#dashboardNav ul li {
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
}

#dashboardNav ul li i {
    font-size: 20px;
    color: var(--orange);
    margin-left: 8px;
}

#dashboardMain {
    display: flex;
}

#dashboardSidebar {
    width: 310px;
    height: 100vh;
    position: fixed;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    left: 0;
    transition: left 0.3s ease-in-out;
}

#dashboardContent {
    
    width: 100vw;
    height: 100vh;
    padding-left: 310px;
    padding-top: 70px;
    transition: padding-left 0.3s ease-in-out;
    
}

.dashboardContainer {
    -moz-transition: background-color 0.2s ease-in-out;
	-webkit-transition: background-color 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out;
	background-color: rgba(53, 56, 73, 0.95);
    padding: 28px;
}

.responsiveSidebar #dashboardSidebar {
    left: -310px;
}

.responsiveSidebar #dashboardContent {
    padding-left: 0;
}

.responsiveSidebar#dashboardNav {
    padding-left: 35px;
}


.dashboardMenuBtn {
    background: transparent;
    font-size: 25px;
    border: none;
    margin-left: 25px !important;
    cursor: pointer;
    transition: 0.3s all linear;
    color: var(--orange);
}

.dashboardMenuBtn:hover {
    color: var(--beige);
}

.dashboardMenuBtn {
    display: none;
}

#closeSidebarButton {
    display: none;
    background: none;
    border: none;
    font-size: 28px;
    display: inline-block;
    color: red;
    transition: 0.3s all linear;
}

#closeSidebarButton:hover {
    color: #333;
    cursor: pointer;
    transform: rotate(90deg);
}

@media screen and (max-width:1100px) {
    #dashboardNav {
        padding-left: 20px;
    }

    #dashboardContent {
        padding-left: 0;
    }

    .dashboardMenuBtn {
        display: contents;
    }

    .dashboardLogo {
        display: none;
    }

    #closeSidebarButton {
        display: contents;
    }

    .responsiveSidebar #dashboardSidebar {
        left: 0;
    }

    #dashboardSidebar {
        background: linear-gradient(rgba(0, 0, 0, 0.58), rgba(0, 0, 0, 0.672)), url(../images/pic09.jpg) center/cover no-repeat;    
        left: -310px;
        transition: 0.3s all linear;
    }
}

@media screen and (min-width:1100px) {
    #dashboardNav {
        padding-left: 340px !important;
    }

    #closeSidebarButton {
        display: none;
    }
}

.sidebarNav img {
    width: 200px;
}

.sidebarNav ul li a {
    padding: 13px 10px;
    display: inline-block;
    width: 100%;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 22px;
}

.sidebarNav ul li a {
    border-left: 10px solid transparent;
}

.sidebarNav ul li a:hover {
    border-left: 10px solid var(--orange);
}

.active {
    border-left: 10px solid var(--orange) !important;
}

.sidebarNav ul li i {
    font-size: 24px;
    margin-right: 10px;
    color: var(--orange);
    font-weight: 400;
}

.sidebarNav {
    padding: 0px 0;
    padding-bottom: 25px;
    margin: 0;
}

.sidebarList {
    width: 100%;
}


#logoutBtn,
#viewAllBtn {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s all linear;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#viewAllBtn {
    padding: 11px 20px;
    background-color: var(--beige);
}

#logoutBtn:hover,
#viewAllBtn:hover {
    background-color: black;
}

@media screen and (max-width:700px) {
    .dashboardContainer {
        padding: 23px 0;
    }

    .pageTitle {
        margin-left: 10px;
    }
}

/* Dashboard Content */

.pageTitle {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--beige);
    font-size: 28px;
    margin-bottom: 12px;
}

.pageTitle span a {
    color: #333;
}

#savedTrucks {}

.dashboardContentContainer {
    padding: 24px;
    box-shadow: rgba(0, 0, 0, 0.211) 0px 5px 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}


.dashboardContentContainer h2 {
    letter-spacing: 1px;
    margin-bottom: -0.5vh;
    font-size: 30px;
}

.dashboardContentContainer h2 i {
    color: gold;
}

.dashboardContentContainer .foodTruckGrid {
    width: 335px;
    height: 310px;
}

.dashboardContentContainer .grid {
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
}

@media screen and (max-width:820px) {
    .dashboardContentContainer .foodTruckGrid {
        width: 100%;
        height: 400px;
    }

    .dashboardContentContainer .grid {
        width: 100%;
        grid-template-columns: auto;
    }
}

/* My Trucks */
#myTruck {
    display: flex;
    align-items: center;
    min-height: 400px;
}

.myTruckContent {
    padding: 20px;
    width: 65%;

}

.myTruckImage {
    height: 330px;
    width: 35%;
    display: grid;
    place-items: center;
}

.myTruckImage img {
    height: 320px;
    width: 320px;
    border-radius: 50%;
    object-fit: cover;
}

.myTruckContent p {
    letter-spacing: 1px;
    margin-bottom: 5px;
    text-align: justify;
}

@media screen and (max-width:1000px) {
    #myTruck {
        flex-direction: column;
        justify-content: center;
    }

    #myTruck>div {
        width: 100%;
    }
}


/* Add new food truck */
#addTruckForm {
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
}

#addTruckForm label {
    font-size: 18px;
    letter-spacing: 2px;
    margin-bottom: 6px;
    color: var(--beige);
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin-top: 7px;
}

#addTruckForm input,
#addTruckForm textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #c0c0c0aa;
    border-radius: 10px;
    font-size: 16px;
    color: #4f4e4e;
    letter-spacing: 2px;
}

#addTruckForm textarea {
    height: 200px;
}

input:focus,textarea:focus {
    outline: antiquewhite;
}

select:focus {
    outline: none;
}

#addTruckForm input::placeholder ,#addTruckForm textarea::placeholder{
    color: gainsboro;
}

.timing {
    display: flex;
    gap: 10px;

}

.timing>div {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.timing {
    height: 0;
    overflow: hidden;
    transition: 0.3s all linear;
}

