@import url(fontawesome-all.min.css);
@import url("https://fonts.googleapis.com/css?family=Raleway:200,700|Source+Sans+Pro:300,600,300italic,600italic");

:root {
    --orange: rgb(198, 101, 11);
    --beige: rgb(223, 178, 88);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

nav {
    display: flex;
    padding: 2vh;
    justify-content: center;
    align-items: center;
}

.logoNav img {
    display: none;
}


nav ul {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin-top: 6%;
}
.listContainer {
    display:flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}

header {
    background: linear-gradient(rgba(0, 0, 0, 0.58), rgba(0, 0, 0, 0.672)), url(../images/bg.jpg) center/cover no-repeat;
    padding-bottom: 30px;
}

#headerContainer h1 {
    font-weight: 300;
    font-style: normal;
    font-size: 35px;
}

#headerContainer p {
    color: rgb(255, 255, 255);
    font-size: 22px;
    font-weight: 400;
    font-style: normal;
    border-left: 7px solid white;
    padding-left: 10px;
}

#headerContainer {
    max-width: 1250px;
    margin: auto;
    text-align: left;
    padding: 20px 10px;
    display: flex;
    align-items: center;
}




.logoHeader {
    padding: 20px;
}

.logoHeader img {
    padding: 20px;
    height: 200px;
}



.foodTruckGrid {
    width: 100%;
    border-radius: 10px !important;
    overflow: hidden;
    transition: 0.3s all linear;
    background-color: white;
    min-height: 320px;
}

#dealsOftheDay .foodTruckGrid,
#topRatedFoodTrucksScroll .foodTruckGrid {
    width: 390px;
    height: 330px;
    border-radius: 10px !important;
}

#topRatedFoodTrucksScroll {
    display: flex;
    width: 100%;
    gap: 8px;
    padding: 20px;
}


#dealsOftheDay,
#topRatedFoodTrucksScroll {
    padding-top: 20px;
}

.foodTruckGrid:hover {
    cursor: pointer;
}

.foodTruckGrid .foodTruckImg {
    height: 200px;
    width: 100%;
}

.foodTruckGrid .foodTruckImg img {
    width: 100%;
    height: 100%;
}

.foodTruckGrid {
    display: flex;
    flex-direction: column;
}

.foodTruckContent {
    padding: 0 10px;
    background-color: white;
}

.foodTruckContent h3 {
    font-weight: 100;
    font-style: normal;
    font-size: 24px;
}

.rating {
    background-color: rgb(93, 152, 4);
    border-radius: 10px;
    padding: 6px 10px;
    color: white;
    font-size: 14px;
}

.rating i {
    font-size: 11px;
}

.truckGridLocation p {
    font-size: 16px;
    margin-top: 12px;
}

.truckGridLocation i {
    font-size: 22px;
    margin-right: 8px;
}

.truckGridLocation {
    color: #333;
    margin: 3px;
}

.gridTags p {
    background-color: brown;
    display: inline-block;
    padding: 9px 13px;
    border-radius: 10px;
    color: white;
    margin-bottom: 4px;
}

.gridTags {
    text-align: center;
    margin: 10px 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 10px;
}


#gridTeam{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 10px; 
}

#searchBar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -0.8vh;
}

#searchBar form {

    padding: 10px;
    border-radius: 3vh;

}

#searchBar input {
    width: 100%;
    font-size: 1.3vh;
    height:4vh;
    padding: 4px;
    color: white;
    border: none;
    letter-spacing: 2px;
}

#searchBar input:focus {
    outline: none;
}

#searchBar input::placeholder {
    color: #b0adad;
}

#searchBar .searchIcon {
    width: 40px;
    color: gray;
    display: grid;
    justify-content: center;
    background-color: white;
    font-size: 20px;
}

.foodTruckImg {
    position: relative;
}

.dealOfTheDay {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.899)60%, rgba(0, 0, 0, 0.862), rgba(0, 0, 0, 0.673), rgba(0, 0, 0, 0))15%;
    position: absolute;
    top: 70%;
    padding: 8px 15px;
    padding-right: 30px;
    color: gold;
    letter-spacing: 3px;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
}

.dealOfTheDayNone {
    display: none;
}

.dealsContainer {
    padding-bottom: 25px;
}

/* Footer */
.footer {
    display: flex;
    padding: 40px 20px;
    background-color: rgb(219, 219, 219);
    color: rgb(0, 0, 0);
}

.footer h3 {
    color: #242424;
    text-transform: uppercase;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    letter-spacing: 2px;
}

.footer>div {
    width: 33%;
}

.footerList ul li a,
.footerCopyright {
    color: #555555;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    letter-spacing: 1px;
}

.footerList ul li a:hover {
    color: var(--orange);
    transition: 0.3s all linear;
}

.footerList ul li {
    padding: 3px;
}

.footerCopyright {
    background-color: gainsboro;
    ;
    padding: 0 20px;
}

.footerCopyright p {
    max-width: 1200px;
    margin: auto;
    padding-bottom: 30px;
    border-top: 1px solid gray;
    padding-top: 20px;
}


.icons {
    display: none;
}

.closeNavBar {
    display: none;
}

.responsiveOpenBtn {
    display: none;
}

@media screen and (max-width:1050px) {

    .responsiveNavbar {
        background: linear-gradient(rgba(0, 0, 0, 0.58), rgba(0, 0, 0, 0.672)), url(../images/pic09.jpg) center/cover no-repeat;       
        height: 100vh;
        position: fixed;
        z-index: 2;
        top: 0;
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        left: -600px;
        transition: 0.4s all linear;
    }

    .openNavbar {
        left: 0px;
    }
    .responsiveNavbar .listContainer ul,
    .responsiveNavbar .listContainer {
        margin: auto;
        flex-direction: column;
    }

    .responsiveNavbar .logoNav img {
        width: 12vh;
        height: 12vh;
        margin-bottom: 12vh;
        display: flex;
    }


    .responsiveNavbar .listContainer ul {
        margin-bottom: 5vh;
    }

    .responsiveNavbar .navBtns li {
        margin-bottom: 2vh;
        margin-right: 2vh;
        justify-content:space-between;
    }

    .responsiveNavbar .closeNavBar {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        font-size: 1vh;
        margin: 20px;
        color: red;
        cursor: pointer;
        border: none;
        background-color: transparent;
    }

    .responsiveOpenBtn {
        right: 0;
        position: absolute;
        margin: 1vh;
        cursor: pointer;
        font-size: 1vh;
        border: none;
        transition: 0.3s all linear;
        display: block;
        text-decoration: none !important;
    }


    .responsiveNavbar .icons {
        display: flex;
        position: absolute;
        bottom: 0;
        margin-bottom: 20px;
    }

    .responsiveNavbar .icons a {
        color: var(--orange);
        margin: 10px;
        font-size: 24px;
    }

    #headerContainer {
        flex-direction: column;
        padding: 40px;
    }

    #headerContainer h1 {
        font-size: 26px;
    }

    #headerContainer p {
        font-size: 17px;
    }

    .logoHeader img {
        padding: 10px;
        height: 180px;
    }
    
    #searchBar input {
        width: 12vh;
        margin-left: 1vh;
        height: 3vh;
    }

    /* Food truck grid responsive */
    .foodTruckGrid {
        width: 320px;
    }


    /* Footer Responsive */
    .footer {
        flex-direction: column;
    }

    .footer>div {
        width: 100%;
        margin-bottom: 10px;
    }
}

@media screen and (max-width:1150px) {

    /* Food truck grid responsive */
    .foodTruckGrid {
        width: 400px;
    }
}

@media screen and (max-width:895px) {

    /* Food truck grid responsive */
    .foodTruckGrid {
        width: 100%;
    }

    .foodTruckGrid .foodTruckImg {
        height: 300px;
        width: 100%;
    }

}

@media screen and (max-width:290px) {

    /* Food truck grid responsive */
    .foodTruckGrid {
        width: 240px;
        /* overflow: hidden; */
    }

    .foodTruckGrid .foodTruckImg {
        height: 300px;
        width: 100%;
    }

}

@media screen and (max-width:480px) {
    #searchBar input {
        width: 320px;
    }
}

@media screen and (max-width:401px) {
    #searchBar input {
        width: 220px;
    }
}

@media screen and (max-width:290px) {

    /* Food truck grid responsive */
    .foodTruckGrid {
        width: 240px;
        overflow: hidden;
    }

    .foodTruckGrid .foodTruckImg {
        height: 300px;
        width: 100%;
    }

    #searchBar input {
        width: 200px;
    }
}


/* Food Truck Page */
.foodTruckPageSearch #searchBar input {
    max-width: 480px;
}

.foodTruckPageSearch #searchBar {
    padding: 0;
}

.foodTruckNav {
    align-items: center;
    justify-content: space-between;
}



/* food Truck Page Header */
#foodTruckPageHeader {
    display: flex;
    /* height: 450px; */

}

#foodTruckPageHeader>div {
    background-color: #7f7f7f;
}

#foodTruckImage {
    width: 65%;
    height: 450px;
    overflow: hidden;
}

#foodTruckImage img {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}

#imageAside {
    background-color: rgb(255, 255, 255) !important;
    width: 35%;
    height: 450px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#getDirections {
    display: grid;
    place-items: center;
    background: url(../img/directions.jpg) no-repeat center center/cover;
}

#foodTruckPageHeader>div {
    margin: 0 4px;
}

@media screen and (max-width:1250px) {
    .foodTruckPageSearch #searchBar input {
        max-width: 300px;
    }
}

@media screen and (max-width:1050px) {
    .foodTruckPageSearch #searchBar input {
        width: 200px;
    }

    #foodTruckPageHeader {
        display: flex;
        flex-direction: column;
        width: 100vw;
        padding: 0;
        margin: 0;
    }

    #foodTruckPageHeader.container {
        padding: 16px;
        margin: 0;
        overflow: hidden;
    }

    #foodTruckPageHeader>div {
        margin: 0px;
        margin-bottom: 13px;
    }

    #foodTruckImage {
        width: 100%;
        height: 300px;
    }

    #imageAside {
        width: 100%;
    }

    #getDirections {
        width: 100%;
        height: 200px;
    }

    #foodTruckPageHeader {
        padding: 0;
    }
}

#gallerySmall {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 8px;
}

#gallerySmall.container {
    padding-top: 8px;
}

#gallerySmall>div {
    width: 225px;
    height: 225px;
}

#gallerySmall>div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width:700px) {


    /* .container {
        width: 100vw !important;
        background-color: #333;
        margin: 0;
        padding: 0;
    } */
    .grid {
        margin: 0;
        padding: 0;
        grid-template-columns: auto;
    }

    .foodTruckGrid {
        width: 100%;
        height: 450px;
        margin: 0;
        padding: 0;
    }
}


/* Food Truck Page */
.stars {
    display: flex;
    gap: 3px;
}

.stars>div {
    display: flex;
    position: relative;
    gap: 0;

}

.stars>div>div {
    width: 18px !important;
    height: 36px;
    background-color: transparent;
    border: 1px solid rgb(223, 178, 88);
}

.stars>div>div:first-child {
    border-right: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

}

.stars>div>div:nth-child(2) {
    border-left: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.stars>div>i {
    position: absolute;
    color: rgb(255, 255, 255) !important;
    font-size: 22px;
    top: 7px;
    left: 5px;
}

.ratingContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}



.reviewsBtn {
    background-color: red;
    font-weight: 500;
    font-size: 14px;
    padding: 6px 14px;
    color: white;
    font-style: normal;
    border-radius: 10px;
    transition: 0.3s all linear;
}

.reviewsBtn:hover {
    background-color: black;
}

.openStatus {
    display: flex;
    justify-content: space-between;
}

.openStatus p {
    font-size: 15px;
}

.deal {
    font-size: 21px;
    font-weight: 500;
    border-width: 6px;
    border-style: solid;

    padding: 30px;
    max-width: 245px;
    min-height: 120px;
    display: grid !important;
    place-items: center;
}

#truckData {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 20px;
}

.deal1 {
    border-image: linear-gradient(to right, darkblue, darkorchid) 1;
    background: -webkit-linear-gradient(rgb(28, 28, 112), darkorchid);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.deal2 {
    border-image: linear-gradient(to right, #ff758c, #ff7eb3) 1;
    background: -webkit-linear-gradient(rgb(255, 126, 20), #ff7eb3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.deal3 {
    border-image: linear-gradient(to right, #00d2ff, #3a7bd5) 1;
    background: -webkit-linear-gradient(rgb(0, 210, 255), #3a7bd5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.deal4 {
    border-image: linear-gradient(to right, #f09819, #ff5858) 1;
    background: -webkit-linear-gradient(rgb(240, 152, 25), #ff5858);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.deal5 {
    border-image: linear-gradient(to right, #667eea, #764ba2) 1;
    background: -webkit-linear-gradient(rgb(102, 126, 234), #764ba2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.deals {
    display: flex;
    gap: 8px;
}

#truckData.container {
    max-width: 1160px;
}

.truckDataContainer {
    display: flex;
    gap: 15px;
}

.truckDataContainer>article {
    width: 50%;
    padding: 20px;
}

.truckData .headline {
    font-size: 18px;
    color: var(--orange);
}

.truckData .headline i {
    font-size: 20px;
    margin-right: 10px;
}

.truckData {
    padding: 15px 0;
    padding-top: 18px;
    border-bottom: 1px solid gainsboro;
}

.truckData:last-child {
    border: none;
}

.truckData .data {
    font-size: 18px;
    color: #333;
    text-align: justify;
}


.menuAndImage {
    display: flex;
}

.menuAndImage>div:nth-child(1) {
    width: 40%;
}

.menuAndImage>div:nth-child(2) {
    width: 60%;
    background-color: black;
    padding: 30px;

}


.menuAndImage>div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}





#readReview {
    width: 100%;
    background: white;
    padding: 20px;
}

.userName {
    font-size: 25px;
    color: var(--beige);
}

.userName p {
    font-size: 19px;
    letter-spacing: 2px;
    margin-left: 10px;
}

.reviewText p {
    font-size: 17px;
    letter-spacing: 1px;

}

#gridReview {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
    gap: 10px;
}


@media screen and (max-width:1050px) {
    .truckDataContainer {
        flex-direction: column;
        gap: 20px;

    }

    .truckDataContainer>article {
        width: 100%;
        padding: 6px;
    }

    .truckData {
        padding: 15px;
    }

    .reviewsContainer {
        padding: 20px !important;
    }
}

@media screen and (max-width:1150px) {
    #readReview {
        width: 100%;
    }

    #gridReview {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        gap: 5px;
    }
}

@media screen and (max-width:1150px) {
    #readReview {
        width: 100%;
    }

    #gridReview {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        gap: 5px;
    }
}

.ratingReview {
    display: inline-block;
    unicode-bidi: bidi-override;
    direction: rtl;
}

.ratingReview input {
    display: none;
}

.ratingReview label {
    display: inline-block;
    padding: 5px;
    font-size: 30px;
    color: #ccc;
    cursor: pointer;
}

.ratingReview input:checked~label {
    color: #ffcc00;
}


#locations {
    position: relative;
    display: inline-block;
}

#locations button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

#locations input {
    font-size: 25px;
    font-weight: 300;
    font-style: normal;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 100%;
    padding: 16px;
    text-align: center;
    color: #333;
    background-color: white;
}

#locationsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 8px;
}

#cusines {
    position: relative;
    display: inline-block;
    height: 300px;
    width: 100%;

    border-radius: 25px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    transition: 0.7s all linear;
    overflow: hidden;
}

#cusines:hover {
    transition: 0.7s all linear;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(216, 122, 7, 0.702) 0px -2px 6px 0px inset;

}

#cusines button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

#cusines input {
    background: transparent;
    color: white;
    border: none;
    font-size: 38px;
    padding: 5px 13px;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    bottom: 20px;
    left: 13px;
    margin-left: 10px;
    letter-spacing: 2px;
    border-left: 8px solid white;
}


@media screen and (max-width:900px) {

    #dealsOftheDay .foodTruckGrid,
    #topRatedFoodTrucksScroll .foodTruckGrid {
        width: 340px !important;
        height: 420px;
    }

}