html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
/* .topnav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3b3f58;
  height: 10vh;
  padding: 1em 2em;
  border-radius: 12px;
  margin: 1em;
  color: white;

}

.topnav .nav-links {
  display: flex;
  gap: 1.5em;
}

.topnav .nav-links a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  padding: 0.4em 0.6em;
  border-radius: 8px;

}

.topnav .nav-links a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}


.search-bar input{
  width: 100%;
  padding: 0.6em 0.6em 0.6em 2.2em;
  border-radius: 30px;
  border: none;
  outline: none;
  background-color: #f2f2f2;
  color: black;
  font-size: larger;
}


.filters {
  background: #f7f7f7;
  padding: 1em;
  border-radius: 8px;
  margin-bottom: 2em;
}

.search-results {
  background: #fff;
  padding: 1em;
  border-radius: 8px;
  border: 1px solid #ccc;
  min-height: 200px;
} */

.search-bar {
margin-top: 0.85%;
  position: relative;
  align-content: right;
  width: 100%;
  margin-left: 3%;
  
}

/* Fonts */
/* .oleo-script-regular {
  font-family: "Oleo Script", system-ui;
  font-weight: 400;
  font-style: normal;
}

.oleo-script-bold {
  font-family: "Oleo Script", system-ui;
  font-weight: 700;
  font-style: normal;
} */


.headingBlack{
color: #494949;
}

.headingDescription{
  font-size: 18px;
}

.container{
  margin: auto;
  padding: 20px;
  max-width: 1200px;
}
.alignCenter{
  text-align: center;
}

.flexRow{
  display: flex;
  flex-direction: row;
}
.flexColumn{
  display: flex;
  flex-direction: column;
}
.spaceBetween{
  justify-content: space-between;
}
.alignItemCenter{
  align-items: center;
}
.justifyCenter{
  justify-content: center;
}

/* Buttons */
.btnOrange {
  background-color: rgb(164, 84, 34);
  font-size: 22px;
  border-radius: 10px;
  color: white;
  padding: 10px 20px;
}

.btnDashboard{
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 1px;
}


.btnOrange:hover {
  color: white;
  background-color: rgb(132, 59, 14);
  opacity: 0.8;
}

.btnBeige {
  background-color: var(--beige);
  font-size: 22px;
  border-radius: 10px;
  color: white;
  padding: 10px 20px;
}

.btnBeige:hover {
  background-color: var(--beige);
  color: white;
  opacity: 0.8;
}

.btnTeal {
  background-color: rgb(12, 169, 169);
  color: white;
}

.btnWhite {
  background-color: white;
  color: rgb(12, 169, 169);
}

.btn {
  padding: 9px 20px;
  display: inline-block;
  border-radius: 10px;
  font-size: 22px;
  margin-top: 10px;
  font-family: "Oleo Script", system-ui;
  font-weight: 100;
  font-style: normal;
  letter-spacing: 1px;
  margin-right: 5px;
  transition: 0.3s all linear;
}

.btn:hover {
  opacity: 0.8;
}

.btnGreen{
  background-color: rgb(11, 136, 0);
  color: white;
  padding:12px 23px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}
#submitButton{
  margin: 20px 0;
  padding: 10px;
  font-size: 18px;
  width: 100%;
  display: inline-block;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  letter-spacing: 2px;
  transition: 0.3s all linear;
}

#submitButton:hover{
  background-color: var(--beige);
}

.errorFlash,.successFlash{
  background-color: red;
  font-size: 16px;
  color: white;
  width: 100%;
  padding: 8px;
  text-align: center;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  margin:0 10px ;
}

.successFlash{
  background-color: rgb(81, 197, 3);
}

p{
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
}

.card{
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: inline-block;
}
