<!DOCTYPE html>
<html lang="en">
<%- include(views_path + '/breeder/header/head.ejs')%>
<body>
    Welcome Breeder
    <!-- include the button that upload file -->
    <%- include(views_path + '/button/uploadFile.ejs')%>
    
</body>
</html>