<footer class="footer">
    <div class="flexColumn alignItemCenter justifyCenter">
        <img style="width: 250px;" src="/img/logo.png" alt="">
    </div>
    <div class="footerList flexColumn alignItemCenter justifyCenter">
        <h3>ABOUT TOW</h3>
        <ul>
            <li><a href="">Who we are ?</a></li>
            <li><a href="">How we started ?</a></li>
            <li><a href="">Our Vision</a></li>
            <li><a href="">Contact Us</a></li>
        </ul>
    </div>
    <div class="footerList flexColumn alignItemCenter justifyCenter">
        <h3>Navigate To</h3>
        <ul>
            <li><a href="">Best Deals</a></li>
            <li><a href="">Add Breeder Profile</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="">Signup</a></li>
        </ul>
    </div>
</footer>
<div class="footerCopyright">
    <p>
        By continuing past this page, you agree to our Terms of Service, Cookie Policy, Privacy Policy and
        Content
        Policies. All trademarks are properties of their respective owners.
        All
        rights
        reserved.
    </p>
</div>