<!-- Navbar -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    
<!-- <button class="responsiveOpenBtn"><i class="fa-solid fa-bars"></i></button> -->
<nav>
    <button class="responsiveOpenBtn" style="text-decoration: none;">Menu</button>
    
</nav>
<nav id="navbar" class="responsiveNavbar">
    
    <div class="listContainer">
      <div class="logoNav"><a href="/"><img src="/img/logo.png" alt=""></a></div>
        <ul class="navBtns">
            <% if(isLoggedIn){%>
                    <li><a style="font-size: 25px; letter-spacing: 2px;" class="btnDashboard flexRow alignItemCenter" href="/dashboard"><i style="font-size: 25px; margin-right: 8px;" class="fa-solid fa-user"></i> Dashboard</a></li>
            <% }else{%>  
                
                <li><%- include('./searchBar.ejs') %></li>
                <li><a class="button primary fit" href="/signup">Home</a></li>
                <li><a class="button primary fit" href="/login">Breeder</a></li>
                <li><a class="button primary fit" href="/login">New Puppy</a></li>
                <li><a class="button primary fit" href="/login">Raising a Puppy</a></li>
                <li><a class="button primary fit" href="/about">About TOW</a></li>               
                <% }%>
         </ul>
    </div>
    <div class="icons">
        <a href=""> <i class="fa-brands fa-instagram"></i> </a>
        <a href=""><i class="icon solid fa-envelope"></i></a>
        <a href=""><i class="icon brands fa-twitter"></i></a>
        <a href=""> <i class="fa-brands fa-tiktok"></i></a>
    </div>
    <div>
        <button class="closeNavBar"> <i class="fa-solid fa-arrow-left"></i></button>
    </div>
</nav>