<script src="/JS/navbar.js"></script>
<script src="/JS/jquery.min.js"></script>
		<script src="/JS/jquery.scrollex.min.js"></script>
		<script src="/JS/browser.min.js"></script>
		<script src="/JS/breakpoints.min.js"></script>
		<script src="/JS/util.js"></script>
		<script src="/JS/main.js"></script>

</body>
</html>