<script src="/js/navbar.js"></script>
<script src="../Public/JS/jquery.min.js"></script>
		<script src="../Public/JS/jquery.scrollex.min.js"></script>
		<script src="../Public/JS/browser.min.js"></script>
		<script src="../Public/JS/breakpoints.min.js"></script>
		<script src="../Public/JS/util.js"></script>
		<script src="../Public/JS/main.js"></script>

</body>
</html>