<div id="searchBar">
    <form class="searchBar flexRow alignItemCenter" action="/search"  method="post">
        <input type="text" name="q" placeholder="Search..." value="">
        <div >
            <button type="submit" class="button fit" style="cursor: pointer; border: none; "> <i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
    </form>
</div>
<!-- <li><div class="search-bar col-6 col-12-xsmall"><input type="text" name="q" placeholder="Search..." value=""></div></li> -->