<div id="searchBar">
    <form class="searchBar flexRow alignItemCenter" action="/search"  method="post">
        <input type="text" name="search" placeholder="Search for a region, food truck, cusine or dish">
        <div >
            <button type="submit" class="searchIcon" style="cursor: pointer; border: none; "> <i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
    </form>
</div>